:root {
  --thumb-dot-height: 12px;
  --progress-schedule-color: hsla(0, 0%, 100%, .2);
  --progress-buffer-color: hsla(0, 0%, 100%, .3);
  --progress-current-color: #fbfbfb;
  --navigation-breakpoint: 900px;
  --maindark: #171717;
  --dark: #212121;
  --darker: #111111;
  --semidark: #2c2c2c;
  --grey: #3d3d3d;
  --white: white;
  --black: black;
}

html {
  background: var(--dark);
}

* {
  outline: none;
  user-select: none;
}

body {
  margin: 0;
  word-wrap: break-word;
  word-break: break-word;
  color: var(--white);

  scrollbar-color: #444550 transparent;
  scrollbar-base-color: #222225;
  scrollbar-face-color: #555;
  scrollbar-arrow-color: #000;
  scrollbar-3dlight-color: #555;
  scrollbar-highlight-color: #555;
  scrollbar-shadow-color: #555;
  scrollbar-darkshadow-color: #555;
  scrollbar-track-color: #333338
}

body::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background: transparent
}

body::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, .2);
  border-radius: 16px
}

body::-webkit-scrollbar-track {
  background: transparent
}
